@import url(https://fonts.googleapis.com/css?family=Ropa+Sans:regular,italic);

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: #777777;
}

.dark-mode, 
.dark-mode header{
    background-color: #3e3e3e;
    color: #fff;
}
.dark-mode section.projects article {
 background-color: #949494;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 30px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    font-size: 50px;
    margin: 10px;
}

header .logo h2 {
    font-size: 18px;
    font-weight: normal;
}

header .btn-menu button.btn-toggle-mode {
    font-size: 12px;
    padding: 10px;
}

header .btn-menu button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #777777;
    cursor: pointer;
    outline: none;
}

header .btn-menu button:hover {
    transition: 0.3s;
    color: #DC9730;
}

section.banner .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

section.banner .slide {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

section.banner .controls {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

section.projects .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
}

section.projects article {
    width: 500px;
    max-width: 100%;
    margin: 30px 0;
    background-color: #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

section.projects article .thumb {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.projects article .info {
    padding: 20px;
}

section.projects article .info .price {
    font-size: 35px;
}

section.projects article .info .tag {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    border-radius: 30px;
    padding: 3px 10px;
}

section.projects article .info .tag.tag-green {
    background-color: #51D275;
}

section.projects article .info .tag.tag-orange {
    background-color: #DC9730;
}

section.styles h2 {}

section.styles article h3 {}

@media (max-width: 1010px) {
    section.projects .container {
        padding: 50px;
        justify-content: center;
    }
}