@import url(https://fonts.googleapis.com/css?family=Ropa+Sans:regular,italic);

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: #777777;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    font-size: 50px;
    margin: 10px;
}

header .logo h2 {
    font-size: 18px;
    font-weight: normal;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
}

header nav ul li {
    height: 100%;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: inherit;
}

header nav ul li a:hover{
    background-color: #777777;
    color: #FFF;
}

header button {
    display: none;
    font-size: 12px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #777777;
    cursor: pointer;
    outline: none;
    vertical-align: center;
}

header button:hover {
    transition: 0.3s;
    color: #DC9730;
}

section.banner .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

section.banner .slide {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

section.banner .controls {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

section.projects .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
}

section.projects article {
    width: 500px;
    max-width: 100%;
    margin: 30px 0;
    background-color: #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

section.projects article .thumb {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.projects article .info {
    padding: 20px;
}

section.projects article .info .price {
    font-size: 35px;
}

section.projects article .info .tag {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    border-radius: 30px;
    padding: 3px 10px;
}

section.projects article .info .tag.tag-green {
    background-color: #51D275;
}

section.projects article .info .tag.tag-orange {
    background-color: #DC9730;
}

section.styles article {
    position: relative;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-radius: 10px;
}


section.styles h2 {
    font-size: 30px;
    text-align: center;
}

section.styles article h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
}

.contact h2 {
    text-align: center;
    font-size: 30px;
}

form {
    width: 300px;
    max-width: 100%;
    margin: 10px auto;
}

form input,
form textarea {
    width: 300px;
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
}

form button {
    padding: 10px;
    margin: 0 auto;
    display: block;
    background-color: #DC9730;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    border-radius: 20px;
    font-size: 20px;
}

footer {
    background-color: #333333;
}

footer .container{
    display: flex;
    padding: 20px;
}

footer .container .map{
    margin-right: 20px;
}

footer .container a{
    color: #FFF
}