<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="borda-azul">Formulário enviado!</h1>
    
    <div id="notificacoes" class="borda-azul">

    </div>

    <script>
        document.getElementById("notificacoes").innerHTML = "Mais uma nota!"
    </script>
    <style>
        #notificacoes {
            background-color: yellow;
        }

        .borda-azul{
            border: 2px solid blue;
        }
    </style>
</body>

</html>